In [ ]:
import pandas as pd

In [ ]:
tags = pd.read_csv("tags.csv")
tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [ ]:
tags_grouped = tags.groupby("movieId").aggregate(lambda tdf: tdf.values.tolist()).reset_index()
tags_grouped

,movieId,userId,tag,timestamp
0,1,"[336, 474, 567]","[pixar, pixar, fun]","[1139045764, 1137206825, 1525286013]"
1,2,"[62, 62, 62, 474]","[fantasy, magic board game, Robin Williams, game]","[1528843929, 1528843932, 1528843907, 1137375552]"
2,3,"[289, 289]","[moldy, old]","[1143424860, 1143424860]"
3,5,"[474, 474]","[pregnancy, remake]","[1137373903, 1137373903]"
4,7,[474],[remake],[1137375642]
...,...,...,...,...
1567,183611,"[62, 62, 62]","[Comedy, funny, Rachel McAdams]","[1526244689, 1526244688, 1526244709]"
1568,184471,"[62, 62, 62]","[adventure, Alicia Vikander, video game adapta...","[1528024900, 1528024914, 1528024898]"
1569,187593,"[62, 62, 62]","[Josh Brolin, Ryan Reynolds, sarcasm]","[1527274096, 1527274092, 1527274090]"
1570,187595,"[62, 62]","[Emilia Clarke, star wars]","[1528934560, 1528934552]"
1571,193565,"[184, 184, 184, 184]","[anime, comedy, gintama, remaster]","[1537098582, 1537098587, 1537098603, 1537098592]"

In [ ]:
tags_grouped = tags_grouped[["tag", "movieId"]]

In [ ]:
tags_grouped

                                                    tag  movieId
0                                   [pixar, pixar, fun]        1
1     [fantasy, magic board game, Robin Williams, game]        2
2                                          [moldy, old]        3
3                                   [pregnancy, remake]        5
4                                              [remake]        7
...                                                 ...      ...
1567                    [Comedy, funny, Rachel McAdams]   183611
1568  [adventure, Alicia Vikander, video game adapta...   184471
1569              [Josh Brolin, Ryan Reynolds, sarcasm]   187593
1570                         [Emilia Clarke, star wars]   187595
1571                 [anime, comedy, gintama, remaster]   193565

[1572 rows x 2 columns]

In [ ]:
movies = pd.read_csv("movies.csv")

In [ ]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
movies["genres"] = movies["genres"].apply(lambda x: x.split("|"))
movies

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),"[Action, Animation, Comedy, Fantasy]"
9738,193583,No Game No Life: Zero (2017),"[Animation, Comedy, Fantasy]"
9739,193585,Flint (2017),[Drama]
9740,193587,Bungo Stray Dogs: Dead Apple (2018),"[Action, Animation]"
9741,193609,Andrew Dice Clay: Dice Rules (1991),[Comedy]

In [ ]:
movies["title"] = movies["title"].apply(lambda x: x.split())
movies

,movieId,title,genres
0,1,"[Toy, Story, (1995)]","[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,"[Jumanji, (1995)]","[Adventure, Children, Fantasy]"
2,3,"[Grumpier, Old, Men, (1995)]","[Comedy, Romance]"
3,4,"[Waiting, to, Exhale, (1995)]","[Comedy, Drama, Romance]"
4,5,"[Father, of, the, Bride, Part, II, (1995)]",[Comedy]
...,...,...,...
9737,193581,"[Black, Butler:, Book, of, the, Atlantic, (2017)]","[Action, Animation, Comedy, Fantasy]"
9738,193583,"[No, Game, No, Life:, Zero, (2017)]","[Animation, Comedy, Fantasy]"
9739,193585,"[Flint, (2017)]",[Drama]
9740,193587,"[Bungo, Stray, Dogs:, Dead, Apple, (2018)]","[Action, Animation]"
9741,193609,"[Andrew, Dice, Clay:, Dice, Rules, (1991)]",[Comedy]

In [ ]:
movies["combined_title_genre"] = movies["title"].apply(lambda x: x[:-1])+movies["genres"]
movies

,movieId,title,genres,combined_title_genre
0,1,"[Toy, Story, (1995)]","[Adventure, Animation, Children, Comedy, Fantasy]","[Toy, Story, Adventure, Animation, Children, C..."
1,2,"[Jumanji, (1995)]","[Adventure, Children, Fantasy]","[Jumanji, Adventure, Children, Fantasy]"
2,3,"[Grumpier, Old, Men, (1995)]","[Comedy, Romance]","[Grumpier, Old, Men, Comedy, Romance]"
3,4,"[Waiting, to, Exhale, (1995)]","[Comedy, Drama, Romance]","[Waiting, to, Exhale, Comedy, Drama, Romance]"
4,5,"[Father, of, the, Bride, Part, II, (1995)]",[Comedy],"[Father, of, the, Bride, Part, II, Comedy]"
...,...,...,...,...
9737,193581,"[Black, Butler:, Book, of, the, Atlantic, (2017)]","[Action, Animation, Comedy, Fantasy]","[Black, Butler:, Book, of, the, Atlantic, Acti..."
9738,193583,"[No, Game, No, Life:, Zero, (2017)]","[Animation, Comedy, Fantasy]","[No, Game, No, Life:, Zero, Animation, Comedy,..."
9739,193585,"[Flint, (2017)]",[Drama],"[Flint, Drama]"
9740,193587,"[Bungo, Stray, Dogs:, Dead, Apple, (2018)]","[Action, Animation]","[Bungo, Stray, Dogs:, Dead, Apple, Action, Ani..."
9741,193609,"[Andrew, Dice, Clay:, Dice, Rules, (1991)]",[Comedy],"[Andrew, Dice, Clay:, Dice, Rules, Comedy]"

In [ ]:
movies = movies[["movieId", "combined_title_genre"]]

In [ ]:
movies["combined_title_genre"] = movies["combined_title_genre"].apply(lambda x:" ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
movies

      movieId                               combined_title_genre
0           1  Toy Story Adventure Animation Children Comedy ...
1           2                 Jumanji Adventure Children Fantasy
2           3                    Grumpier Old Men Comedy Romance
3           4             Waiting to Exhale Comedy Drama Romance
4           5                 Father of the Bride Part II Comedy
...       ...                                                ...
9737   193581  Black Butler: Book of the Atlantic Action Anim...
9738   193583     No Game No Life: Zero Animation Comedy Fantasy
9739   193585                                        Flint Drama
9740   193587      Bungo Stray Dogs: Dead Apple Action Animation
9741   193609                Andrew Dice Clay: Dice Rules Comedy

[9742 rows x 2 columns]

In [ ]:
tags_grouped["tag"] = tags_grouped["tag"].apply(lambda x: " ".join(x))
tags_grouped

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                                  tag  movieId
0                                     pixar pixar fun        1
1        fantasy magic board game Robin Williams game        2
2                                           moldy old        3
3                                    pregnancy remake        5
4                                              remake        7
...                                               ...      ...
1567                      Comedy funny Rachel McAdams   183611
1568  adventure Alicia Vikander video game adaptation   184471
1569                Josh Brolin Ryan Reynolds sarcasm   187593
1570                          Emilia Clarke star wars   187595
1571                    anime comedy gintama remaster   193565

[1572 rows x 2 columns]

In [ ]:
tag_genre = pd.merge(movies, tags_grouped, on=["movieId"], how="left")
tag_genre

,movieId,combined_title_genre,tag
0,1,Toy Story Adventure Animation Children Comedy ...,pixar pixar fun
1,2,Jumanji Adventure Children Fantasy,fantasy magic board game Robin Williams game
2,3,Grumpier Old Men Comedy Romance,moldy old
3,4,Waiting to Exhale Comedy Drama Romance,NaN
4,5,Father of the Bride Part II Comedy,pregnancy remake
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic Action Anim...,NaN
9738,193583,No Game No Life: Zero Animation Comedy Fantasy,NaN
9739,193585,Flint Drama,NaN
9740,193587,Bungo Stray Dogs: Dead Apple Action Animation,NaN
9741,193609,Andrew Dice Clay: Dice Rules Comedy,NaN

In [ ]:
tag_genre["tag"] = tag_genre["tag"].fillna("")

In [ ]:
(tag_genre["combined_title_genre"] + " " + tag_genre["tag"])[0]

'Toy Story Adventure Animation Children Comedy Fantasy pixar pixar fun'

In [ ]:
tag_genre["sentences"] = tag_genre["combined_title_genre"] + " " + tag_genre["tag"]

In [ ]:
# sentence = tag_genre.loc[9741, "sentences"]
sentence = "Andrew Dice Clay:./.;[@%#$%^7] Dice Rules Comedy"

In [ ]:
import re
re.sub("\s{1,}", " ", re.sub("[^a-z0-9]", " ", sentence,0, flags=re.IGNORECASE), 0)

'Andrew Dice Clay 7 Dice Rules Comedy'

In [ ]:
tag_genre["sentences"] = tag_genre["sentences"].apply(lambda x: re.sub("\s{1,}", " ", re.sub("[^a-z0-9]", " ", x,0, flags=re.IGNORECASE), 0))

In [ ]:
tag_genre = tag_genre[["movieId", "sentences"]]

In [ ]:
tag_genre

      movieId                                          sentences
0           1  Toy Story Adventure Animation Children Comedy ...
1           2  Jumanji Adventure Children Fantasy fantasy mag...
2           3          Grumpier Old Men Comedy Romance moldy old
3           4            Waiting to Exhale Comedy Drama Romance
4           5  Father of the Bride Part II Comedy pregnancy r...
...       ...                                                ...
9737   193581  Black Butler Book of the Atlantic Action Anima...
9738   193583     No Game No Life Zero Animation Comedy Fantasy
9739   193585                                       Flint Drama
9740   193587      Bungo Stray Dogs Dead Apple Action Animation
9741   193609                Andrew Dice Clay Dice Rules Comedy

[9742 rows x 2 columns]

In [ ]:
from gensim.models.word2vec import Word2Vec
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
sentences = tag_genre["sentences"].tolist()
sentences = [nltk.word_tokenize(word) for sentence in sentences for word in nltk.sent_tokenize(sentence)]

In [ ]:
w2v = Word2Vec(sentences)

In [ ]:
len(w2v.wv.vocab.keys())

1396

In [ ]:
w2v.save("w2v_model")

In [ ]:
sentences[0]

['Toy',
 'Story',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'pixar',
 'pixar',
 'fun']

In [ ]:
tag_genre["sentence_token"] = ""
# tag_genre["sentence_token"] = tag_genre["sentence_token"].astype("object")
for i in range(len(sentences)):
  tag_genre.at[i, "sentence_token"] = sentences[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
tag_genre.loc[0, "sentences"]

'Toy Story Adventure Animation Children Comedy Fantasy pixar pixar fun'

In [ ]:
tag_genre

,movieId,sentences,sentence_token
0,1,Toy Story Adventure Animation Children Comedy ...,"[Toy, Story, Adventure, Animation, Children, C..."
1,2,Jumanji Adventure Children Fantasy fantasy mag...,"[Jumanji, Adventure, Children, Fantasy, fantas..."
2,3,Grumpier Old Men Comedy Romance moldy old,"[Grumpier, Old, Men, Comedy, Romance, moldy, old]"
3,4,Waiting to Exhale Comedy Drama Romance,"[Waiting, to, Exhale, Comedy, Drama, Romance]"
4,5,Father of the Bride Part II Comedy pregnancy r...,"[Father, of, the, Bride, Part, II, Comedy, pre..."
...,...,...,...
9737,193581,Black Butler Book of the Atlantic Action Anima...,"[Black, Butler, Book, of, the, Atlantic, Actio..."
9738,193583,No Game No Life Zero Animation Comedy Fantasy,"[No, Game, No, Life, Zero, Animation, Comedy, ..."
9739,193585,Flint Drama,"[Flint, Drama]"
9740,193587,Bungo Stray Dogs Dead Apple Action Animation,"[Bungo, Stray, Dogs, Dead, Apple, Action, Anim..."
9741,193609,Andrew Dice Clay Dice Rules Comedy,"[Andrew, Dice, Clay, Dice, Rules, Comedy]"

In [ ]:
movie_index_map = {mov_id: i+1 for i, mov_id in enumerate(tag_genre["movieId"].tolist())}

In [ ]:
import pickle
pickle.dump(movie_index_map, open("movie_index.pkl", "wb"))

In [ ]:
tag_genre.to_csv("tag_genre.csv")

In [ ]:
import numpy as np
movie_vector_matrix = np.empty((len(tag_genre["movieId"].tolist()), 100))

In [ ]:
model_keys = w2v.wv.vocab.keys()

In [ ]:
for row_num, row in tag_genre.iterrows():
  tag_vector = np.empty((len(row["sentence_token"]), 100))
  for i in range(len(row["sentence_token"])):
    if row["sentence_token"][i] in w2v.wv:
      tag_vector[i] = w2v.wv[row["sentence_token"][i]]
    else:
      tag_vector[i] = np.zeros((100))
  movie_vector_matrix[row_num] = np.mean(tag_vector, axis=0)

In [ ]:
movie_vector_matrix[0].shape

(100,)

In [ ]:
pickle.dump(movie_vector_matrix, open("movie_vector_matrix.pkl", "wb"))

In [ ]:
import pickle
vec_array = pickle.load(open("movie_vector_matrix.pkl", "rb"))
vec_array[0]

array([-0.10773405,  0.11937726, -0.34408327,  0.22799896,  0.03612888,
        0.05054427,  0.16635727,  0.01927555, -0.01605772, -0.08191306,
        0.02870806, -0.38088822, -0.05553305,  0.01877702, -0.14025883,
       -0.04330995, -0.20535218, -0.01334493,  0.21585077, -0.0115581 ,
       -0.13088327,  0.06876451,  0.08746897, -0.04110886, -0.16252737,
       -0.14639937,  0.04252837, -0.09971555,  0.06263343,  0.52633016,
        0.05210415,  0.04872842,  0.10250794,  0.24918341,  0.0739157 ,
        0.19008944, -0.38892806,  0.03964816,  0.02413394, -0.08696602,
        0.03618637, -0.2381003 ,  0.20893018, -0.23000767,  0.08953199,
       -0.21029572, -0.07910982, -0.05512899,  0.03706582, -0.14397825,
        0.06561595,  0.10709026,  0.16516174,  0.02319617,  0.14756401,
        0.12361539,  0.0348564 ,  0.24951683,  0.01114329, -0.19842647,
       -0.59120939,  0.01839644,  0.08465483,  0.05724903, -0.29964248,
       -0.24464732, -0.19039935,  0.16583506,  0.11576627,  0.09925158,
        0.18114289, -0.09595589,  0.04127736, -0.10612966,  0.33431358,
        0.18236089,  0.07074961, -0.13795757,  0.06369555, -0.09658706,
        0.08470756,  0.1377528 , -0.23534847, -0.00783987, -0.23496244,
        0.15066321, -0.28256529, -0.14589893, -0.25886345, -0.14374661,
       -0.13477947, -0.00941962,  0.04614453, -0.17085809,  0.11985806,
        0.37719314,  0.33368908,  0.09136299, -0.30124422,  0.28075735])